{{#each voicemails}}
	<tr class="voicemail-row" data-media-id="{{formatted.mediaId}}" data-call-id="{{formatted.callId}}" data-timestamp="{{timestamp}}" data-folder="{{folder}}">
		<td data-filter-value="{{formatted.callId}}">
			{{#monsterCheckbox}}
				<input class="select-message" type="checkbox" data-media-id="{{formatted.mediaId}}"/>
			{{/monsterCheckbox}}
		</td>
		<td class="status select-line" data-folder="{{folder}}">{{tryI18n @root.i18n.voicemails.receivedVMs.status folder}}</td>
		<!--<td class="select-line">{{call_id}}</td>-->
		<td class="select-line" data-filter-value="{{timestamp}} {{toFriendlyDate timestamp}}" data-sort-value="{{timestamp}}">{{toFriendlyDate timestamp}}</td>
		<td class="select-line" data-filter-value="{{from}} {{formatted.from}}">{{formatted.from}}</td>
		<td class="select-line" data-filter-value="{{to}} {{formatted.to}}">{{formatted.to}}</td>
		<td class="duration select-line">{{formatted.duration}}</td>
		<td class="actions">
			<i class="fa fa-play action-item play-vm"></i>
			<a class="action-item" href="{{formatted.uri}}" target="_blank">
				<i class="fa fa-download download-vm"></i>
			</a>
			<i class="fa fa-list action-item details-vm"></i>
		</td>
	</tr>
{{/each}}